<% content_for :meta_title, "My Messages | LEALO" %>

<div class="messages-container">
  <h1 class="text-center">My Messages</h1>
  <br>
  <br>

  <% @grouped_messages.each do |user_id, array| %>
    <% user = User.find(user_id) %>
    <div class="user-messages">
      <div class="user-messages-deatils">
        <div class="message-avatar-div">
          <div style="margin-left:10px;"><%= image_tag photo_url(user), class: "avatar-large"%></div>
        </div>
        <div class="user-first-message">
          <h8 class="text-center"><strong><%= "#{user.name}'s messages" %></strong></h8>
          <br>
          <p><%= array.first.message_text %></p>
        </div>
        <div class="message-date-div"><%= array.first.created_at.strftime("%e %b, %y:%M") %></div>
      </div>
      <div class="messages-div">
        <% array.each do |message| %>
          <div class="message-div">
            <div class="message-avatar-div"><strong><%= message.sender == current_user ? "You" : user.first_name %></strong></div>
            <div class="user-first-message"><%= message.message_text %></div>
            <div class="message-date-div"><%= message.created_at.strftime("%e %b, %y:%M") %></div>
          </div>
        <% end %>
      </div>
    </div>
 <% end %>
<%= link_to 'New Message', new_message_path, class: "btn btn-primary", style: "margin-left:50px;" %>
</div>

<% content_for(:after_js) do %>
  <script>

  document.querySelectorAll(".user-messages").forEach((user_div)=> {
    user_div.addEventListener("click", (event) => {
      msg_div = event.currentTarget.querySelector(".messages-div")
      msg_div.style.display = msg_div.style.display === 'none' ? 'block' : 'none';
    });
  });

  </script>
<% end %>
