<div class="container messages-container">
  <h1>Messages#index</h1>
  <p>Find me in app/views/messages/index.html.erb</p>

  <% @grouped_messages.each do |user_id, array| %>
    <% user = User.find(user_id) %>
    <div class="user-messages">
      <div class="user-messages-deatils">
        <div style="display:flex;padding:10px;align-items:center">
          <div><%= image_tag photo_url(user), class: "avatar-large"%></div>
          <div style="margin-left:10px;"><p><%= user.name %></p></div>
        </div>
        <div class="user-first-message">
          <h8>Title</h8>
          <p><%= array.first.message_text %></p>
        </div>
        <div><%= array.first.created_at %></div>
      </div>
      <div class="messages-div">
        <% array.each do |message| %>
          <div class="message-div">
            <div><%= message.message_text %></div>
            <div><%= message.created_at %></div>
          </div>
        <% end %>
      </div>
    </div>
 <% end %>
<%= link_to 'New Message', new_message_path %>
</div>

<% content_for(:after_js) do %>
  <script>

  document.querySelectorAll(".user-messages").forEach((user_div)=> {
    user_div.addEventListener("click", (event) => {
      msg_div = event.currentTarget.querySelector(".messages-div")
      msg_div.style.display = msg_div.style.display === 'none' ? 'block' : 'none';
    });
  });

  </script>
<% end %>
