
<div class="reviews-form">
  <h4>Leave a review for <%= skill.teacher.name %> and their skills in teaching <%= skill.name %></h4>

  <%= simple_form_for([ skill, review ]) do |form| %>
    <%= form.input :comment, as: :text %>
    <%= form.input :rating, :as => :radio_buttons, :collection => 1..5, label_html: { class: 'inline' }  %>
    <%= form.button :submit %>
  <% end %>
</div>



