<h1>My lessons</h1>
<ul class="nav nav-tabs">
  <li><a data-toggle="tab" href="#pending">Requested</a></li>
  <li><a data-toggle="tab" href="#completed">Upcoming Lessons</a></li>
  <li><a data-toggle="tab" href="#menu3">Past lessons</a></li>
</ul>

<div class="tab-content">
<div id="pending" class="tab-pane fade in active">
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active no-border" id="status-lesson">
      <% if @lessons.empty? %>
        <p>No bookings yet </p>
      <% else %>
        <div class="card-container-lesson">
          <div>
            <% @lessons.each do |lesson|%>
              <% if lesson.status == "pending"%>
               <%= link_to skill_path(lesson.skill) do %>
                <div class="lesson-card-profile", >
                    <%= image_tag small_user_photo(lesson.teacher), id: "student-photo"%>
                    <p><%= "#{lesson.teacher.name}, #{lesson.skill.name} teacher"  %></p>
                    <p><%= "Lesson: #{lesson.name}" %></p>
                    <p><%= "Date: #{lesson.date}" %></p>
                    <div class="lesson-pending"><p><%= lesson.status %></p></div>
                </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div id="completed" class="tab-pane fade">
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active no-border" id="status-lesson">
      <% if @lessons.empty? %>
          <p>No bookings yet </p>
        <% else %>
          <div class="card-container-lesson">
            <div class="activity">
              <% @lessons.each do |lesson|%>
                <% if lesson.status == "confirmed"%>
                  <%= link_to skill_path(lesson.skill) do %>
                    <div class="lesson-card-profile", >
                    <%= image_tag small_user_photo(lesson.teacher), id: "student-photo"%>
                    <p><%= "#{lesson.teacher.name}, #{lesson.skill.name} teacher"  %></p>
                    <p><%= "Lesson: #{lesson.name}" %></p>
                    <p><%= "Date: #{lesson.date}" %></p>
                    <div class="lesson-confirmed"><p><%= lesson.status %></p></div>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div id="menu3" class="tab-pane fade">
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active no-border" id="status-lesson">
        <% if @lessons.empty? %>
            <p>No bookings yet </p>
          <% else %>
            <div class="card-container-lesson">
              <div class="activity">
                <% @lessons.each do |lesson|%>
                  <% if lesson.status == "completed"%>
                      <div class="lesson-card-profile", >
                      <%= image_tag small_user_photo(lesson.teacher), id: "student-photo"%>
                      <p><%= "#{lesson.teacher.name}, #{lesson.skill.name} teacher"  %></p>
                      <p><%= "Lesson: #{lesson.name}" %></p>
                      <p><%= "Date: #{lesson.date}" %></p>
                      <%= link_to "Add a review", "#", class: "btn btn-info", id:'review-button' %>
                      </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

    <div id="review-container"> </div>
    <div id="meetup-container">

      <%= render 'meetup-content', json: @json %>
    </div>


<% content_for(:after_js) do %>
  <script>

    const reviewButton = document.getElementById("review-button");
    const reviewContainer = document.getElementById("review-container");

    const showReviewForm = (event) => {
      reviewContainer.innerHTML = '<%= j render 'student-reviews' %>'
    }

    reviewButton.addEventListener("click", showReviewForm);

  </script>
<% end %>




