<h4 class = "blue-heading">Lessons</h4>

<% if @lessons.empty? %>
<div class="no-lessons">
  <p>You haven't booked any lessons yet :(</p>
    <%= link_to "Explore teachers nearby", skills_path, class: "btn btn-primary"%>
  </div>
<% else %>

<ul class="nav nav-tabs">
  <li><a data-toggle="tab" href="#pending">Requested</a></li>
  <li><a data-toggle="tab" href="#completed">Upcoming Lessons</a></li>
  <li><a data-toggle="tab" href="#menu3">Past lessons</a></li>
</ul>

<div class="tab-content">
  <div id="pending" class="tab-pane fade in active">
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active no-border" id="status-lesson">

        <div class="card-container-lesson">
          <div>
            <% @lessons.each do |lesson|%>
            <% if lesson.status == "pending"%>
            <div class="lesson-card-profile", >
              <%= image_tag small_user_photo(lesson.teacher), class: "student-photo"%>
              <p><%= "#{lesson.teacher.name}, #{lesson.skill.name} teacher"  %></p>
               <p><%= link_to "Lesson: #{lesson.name}", skill_path(lesson.skill)%></p>
              <p><%= "Date: #{lesson.date}" %></p>
              <div class="lesson-pending"><p><%= lesson.status %></p></div>
              <%= link_to "Message: #{lesson.teacher.first_name}", '#', class: "btn btn-primary btn-msg", data: { lesson_id: lesson.id } %>
            </div>
            <%= render 'messages/new-message', target_user_id: lesson.teacher.id, lesson_id: lesson.id %>
            <% end %>
            <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>


  <div id="completed" class="tab-pane fade">
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active no-border" id="status-lesson">

        <div class="card-container-lesson">
          <div class="activity">
            <% @lessons.each do |lesson|%>
            <% if lesson.status == "confirmed"%>
            <div class="lesson-card-profile", >
              <%= image_tag small_user_photo(lesson.teacher), class: "student-photo"%>
              <p><%= "#{lesson.teacher.name}, #{lesson.skill.name} teacher"  %></p>
              <p><%= link_to "Lesson: #{lesson.name}", skill_path(lesson.skill)%></p>
              <p><%= "Date: #{lesson.date}" %></p>
              <div class="lesson-confirmed"><p><%= lesson.status %></p></div>
              <%= link_to "Message: #{lesson.teacher.first_name}", '#', class: "btn btn-primary btn-msg", data: { lesson_id: lesson.id } %>
            </div>
            <%= render 'messages/new-message', target_user_id: lesson.teacher.id, lesson_id: lesson.id %>
            <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div id="menu3" class="tab-pane fade">
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active no-border" id="status-lesson">
        <div class="card-container-lesson">
          <div class="activity">
            <% @lessons.each do |lesson|%>

            <% if lesson.status == "completed" %>
                <div class="lesson-card-profile", >
                  <%= image_tag small_user_photo(lesson.teacher), id: "student-photo"%>
                  <p><%= "#{lesson.teacher.name}, #{lesson.skill.name} teacher"  %></p>
                  <p><%= link_to "Lesson: #{lesson.name}", skill_path(lesson.skill)%></p>
                  <p><%= "Date: #{lesson.date}" %></p>

                  <% unless lesson.skill.reviews.where(student_id: current_user.id).any?  %>
                    <%= link_to "Add a review", new_lesson_review_path(lesson.id), class: "btn btn-info", id: "review-button-#{lesson.id}", remote: true, method: :get %>
                    <% end %>
                    </div>
                <% end %>
              <% end %>
                   <div id="review-container" >

                   </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <% end %>
</div>

    <div id="meetup-container">
       <% if !@lesson.nil? && !@responses.empty? %>
        <%= render 'meetup-content', responses: @responses %>
      <% end %>
    </div>






