<h2>Lessons</h2>


<ul class="nav nav-tabs">
  <li><a data-toggle="tab" href="#pending">Pending</a></li>
  <li><a data-toggle="tab" href="#confirmed">Confirmed</a></li>
  <li><a data-toggle="tab" href="#completed">Completed</a></li>
</ul>
<div class="tab-content">
  <div id="pending" class="tab-pane fade in active">
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active no-border" id="status-lesson">
        <% if @lessons.empty? %>
          <p>No bookings yet </p>
        <% else %>
          <div class="card-container-lesson">
            <% @lessons.each do |lesson|%>
              <% if lesson.status == "pending"%>
                <div class="lesson-card-profile">
                  <%= image_tag small_user_photo(lesson.student), id: "student-photo"%>
                  <p><%= lesson.student.name %></p>
                  <p><%= "Lesson: #{lesson.name}" %></p>
                  <p><%= "Date: #{lesson.date}" %></p>
                  <div class="lesson-pending"><p><%= lesson.status %></p></div>
                  <%= link_to "Confirm", lesson_path(lesson, status: "confirmed"), method: :patch, class: "btn btn-primary", id: "confirm-btn" %>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div id="confirmed" class="tab-pane fade in tab-item">
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active no-border" id="status-lesson">
        <% if @lessons.empty? %>
          <p>No bookings yet </p>
        <% else %>
          <div class="card-container-lesson">
            <% @lessons.each do |lesson|%>
              <% if lesson.status == "confirmed"%>
                <div class="lesson-card-profile" >
                  <%= image_tag small_user_photo(lesson.student), id: "student-photo"%>
                  <p><%= lesson.student.name %></p>
                  <p><%= "Lesson: #{lesson.name}" %></p>
                  <p><%= "Date: #{lesson.date}" %></p>
                <div class="lesson-confirmed"><p><%= lesson.status %></p></div>
                  <%= link_to "Completed", lesson_path(lesson, status: "completed"), method: :patch, class: "btn btn-primary", id: "confirm-btn" %>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div id="completed" class="tab-pane fade in tab-item">
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active no-border" id="status-lesson">
        <% if @lessons.empty? %>
          <p>No bookings yet </p>
        <% else %>
          <div class="card-container-lesson">
            <% @lessons.each do |lesson|%>
              <% if lesson.status == "completed"%>
                <div class="lesson-card-profile" >
                  <%= image_tag small_user_photo(lesson.student), id: "student-photo"%>
                  <p><%= lesson.student.name %></p>
                  <p><%= "Lesson: #{lesson.name}" %></p>
                  <p><%= "Date: #{lesson.date}" %></p>
                <div class="lesson-confirmed"><p><%= lesson.status %></p></div>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
