
<div class="profile-container">
  <div class="user-profile-info-box">
    <h3><%="#{@user.role.capitalize} Profile"%></h3>
    <h1><%= @user.name%></h1>
    <%= image_tag photo_url(@user), id: "profile-photo"%>
    <% if @user.bio == "" %>
    <p>no bio yet, tell us about yourself!</p>
    <% else %>
    <p><%= @user.bio %></p>
    <% end %>
    <% if current_user.role == "teacher" %>
    <%= link_to "Add A New Skill", new_skill_path, class: "btn btn-info", id: "profile-btn"%>
    <% end %>
  </div>

  <div class="user-profile-lessons">
    <% if current_user.role == "teacher" %>
    <%= render 'teacher_lessons' %>
    <% end %>
  </div>

  <div class="teacher-skills">
    <% if current_user.role == "teacher" %>
    <%= render 'teacher_skills' %>
    <% else %>
    <%= render 'student_lessons' %>
    <% end %>

  </div>
</div>

    <% content_for(:after_js) do %>
   <script>
      $(document).ready(function() {
        document.querySelectorAll(".btn-msg").forEach((button) => {
          button.addEventListener("click", (event) => {
            event.preventDefault();
            msg_div = $("#message-for-lesson-" + event.target.getAttribute('data-lesson-id'));
            msg_div.toggleClass('hidden');
          // msg_div.style.display = msg_div.style.display === 'none' ? 'block' : 'none';
          });
        });
      });

    </script>
    <% end %>
