<%= simple_form_for(@skill) do |f| %>
  <%= f.error_notification %>

  <div class="new-skill-form-inputs">
    <%= f.input :name, label: "What's the topic?", placeholder: "Knitting, Judo, French, etc..." %>
    <%= f.input :price, label: "Set your price.", placeholder: "(per hour)" %>
    <%= f.input :description, label: "Lesson details:", placeholder: "Learn French from a native speaker! Accepting students of all levels, priority given to awesome students!"%>
    <%= f.input :location, label: "Where will the classes be?", placeholder: "Ladeira da Glória, 26, Rio, Brazil" %>
    <%= f.input :availability, label: "When are you available to teach?", placeholder: "Monday through Friday after 3pm and weekends"%>
    <%= f.input :category, placeholder: "Crafts, Languages, Technology, etc..."%>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => "btn btn-primary", id: "new-skill-btn"%>
  </div>
<% end %>
