<p id="notice"><%= notice %></p>
<div class="container">
  <h1 class="text-center">Find a local teacher</h1>
   <form action="" class="form-inline text-center search-form">
      <input name="search" class="form-control search" placeholder="I am learning...">
      <input name="search" class="form-control search" placeholder="Where?">
     <input type="submit" value="Search" class="btn btn-primary">
     </form>
</div>

<div id="map" style="width: 100%; height: 600px;"></div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Description</th>
      <th>Teacher</th>
      <th>Availability</th>
      <th>Category</th>
      <th>Skill rating</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @skills.each do |skill| %>
      <tr>
        <td><%= skill.name %></td>
        <td><%= skill.price %></td>
        <td><%= skill.description %></td>
        <td><%= skill.teacher_id %></td>
        <td><%= skill.availability %></td>
        <td><%= skill.category %></td>
        <td><%= skill.skill_rating %></td>
        <td><%= link_to 'Show', skill %></td>
        <td><%= link_to 'Edit', edit_skill_path(skill) %></td>
        <td><%= link_to 'Destroy', skill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Skill', new_skill_path %>

<% content_for(:after_js) do %>
  <script>
    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: { id: 'map' } }, function() {
      markers = handler.addMarkers(<%= raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      if (markers.length == 0) {
        handler.getMap().setZoom(2);
      } else if (markers.length == 1) {
        handler.getMap().setZoom(14);
      }
    });
  </script>
<% end %>
