<% content_for :meta_title, "Find a Teacher | LEALO" %>

<!-- <p id="notice"><%= notice %></p> -->
<div class="wrapper-white">
<div class="container">
  <h1 class="text-center">Find a local teacher</h1>
   <form action=<%= "#{skills_path}" %> method='get', class="form-inline text-center search-form">
      <input name="skill" id="skill" class="form-control search" placeholder="I am learning..." >
      <input name="location" id="location" class="form-control search" placeholder="Where?">
     <input type="submit" id="search" value="Search" class="btn btn-primary">
     </form>

      <span id=view-toggle> <p id="map-toggle" class="active pointer"> <%= image_tag('map.png', class: "map-icon") %>Map</p>

        <div class="vertical-line"></div>

        <p id="list-toggle" class="inactive pointer"><%= image_tag('list.png', class: "map-icon inactive") %>List</p></span>



      <div id="search-result-message" >
  <h3 class="text-center"><%= @skills.length %> teachers in your area </h3>
</div>
</div>



<div class="list-map-wrapper">
  <div id="map" ></div>
  <div id="list"></div>
    <%= render 'skill-list', skills: @skills %>
  </div>
</div>


<% content_for(:after_js) do %>
  <script>

    // JS for map

    const handler = Gmaps.build('Google');
    handler.buildMap({ internal: { id: 'map' } }, function() {
      markers = handler.addMarkers(<%= raw @markers.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      if (markers.length == 0) {
        handler.getMap().setZoom(2);
      } else if (markers.length == 1) {
        handler.getMap().setZoom(14);
      }
  });

    // JS for toggling map

    const mapToggle = document.getElementById('map-toggle');
    const listToggle = document.getElementById('list-toggle');
    const map = document.getElementById('map');
    const list = document.getElementById('list');

    const renderList = (event) => {
      event.preventDefault();
      // document.getElementById("list").innerHTML = '<%= j render "skill-list",skills: @skills %>';
      map.style.display = "none";
      list.style.display = "block";
      listToggle.classList.remove("inactive");
      mapToggle.classList.add("inactive");
      }

    const showMap = (event) => {
      event.preventDefault();
      map.style.display = "block";
      list.style.display = "none";
      mapToggle.classList.remove("inactive");
      listToggle.classList.add("inactive");

      }

      listToggle.addEventListener("click", renderList);
      mapToggle.addEventListener("click", showMap);

      // JS for showing search result title - but disappears after reloading the page.... NEED TO FIX!

      const searchSubmit = document.getElementById('search');
      const messageContainer = document.getElementById('search-result-message');

      const showSearchMessage = (event) => {
        messageContainer.classList.add("show");
      }

      searchSubmit.addEventListener('click', showSearchMessage);

      <% if (params[:location].present? || params[:skill].present?) %>
          var target = $('#search');
          $('html, body').stop().animate({
              scrollTop: target.offset().top
          }, 400);
      <% end %>
  </script>
<% end %>


<!--




<!

    // THIS ISN'T WORKING YET..content doesn't stay because form is being submitted

    // const searchSubmit = document.getElementById('search');
    // const skillInput = document.getElementById('skill').value;
    // const locationInput = document.getElementById('location').value;

    // const showSearchMessage = (event) => {
    //    document.getElementById("search-result-message").innerHTML = '<p>Hello</p>';
    // }

    // searchSubmit.addEventListener('click', showSearchMessage); -->


