<p id="notice"><%= notice %></p>

<div class="skill-show-page">

  <div class="teacher-skill-show-container">


    <%= image_tag @skill.teacher.photo_url(:profile), id: "skill-photo"%>

  <h3>
    <%= @skill.teacher.name%>
  </h3>

  <p><%= "#{@skill.teacher.first_name}'s Bio:" %></p>
  <p><%= @skill.teacher.bio %></p>




  <p>
    Skill rating:
    <i class="fa fa-star" aria-hidden="true"></i>
    <%= @skill.skill_rating %>
  </p>
  </div>

  <div class="skill-show-container">
      <h1>
        <%= "#{@skill.name} Lesson" %>
      </h1>

    <p>
      Price:
      <%= @skill.price %>
    </p>

    <p>
      Availability:
      <%= @skill.availability %>
    </p>

    <p>
      Description:
      <%= @skill.description %>
    </p>

    <p>
      Category:
      <%= @skill.category %>
  </div>
</div>

<%= link_to 'Edit', edit_skill_path(@skill) %> |
<%= link_to 'Back', skills_path %>
